body {
    background-color: white;
    font-size: 15px;
}
#content {
    max-width: 700px;
    margin: 0px auto;
    padding: 50px;
}
p {
    color: #035f9c;
    font-size: 0.8em;
    margin-bottom: 1px;
}
hr {
    height: 0.1px;
    background-color: #035f9c;
    width: 485px;
    margin-top: 0px;
}
h1, p {
    text-align: center;
    word-spacing: 4px;
    letter-spacing: 3px;
}
h2{
    text-align: left;
    font-weight: normal;
    padding-top: 25px;
}
h2 {
    font-size: 1.1em;
}
li {
    margin-bottom: 20px;
    text-align: left;
}
#logos {
    text-align: center;
}
#logos img {
    margin-top: 25px;
    width: 110px;
    height: auto;
}
#topics {
    line-height: 1.5em;
    margin: 0 auto;
    width: 70%;
}
.list {
    list-style-type: none;
}